body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    padding: 20px 0;
}

section.intro p {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0779e4;
    text-decoration: none;
    font-weight: bold;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #333;
    text-align: center;
}

footer p {
    margin: 0;
}

img {
    width: 100%; /* Responsive width */
    max-width: 300px; /* Maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: makes the image round */
    border: 3px solid #333; /* Optional: adds a border around the image */
    margin-top: 20px; /* Optional: adds space above the image */
}
