body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fff; /* White text */
    background-color: #1a1a1a; /* Dark background */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333; /* Slightly lighter dark header */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    padding: 20px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

section.intro p {
    background-color: #333; /* Dark background for paragraph */
    padding: 20px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #0779e4; /* Keep link colors */
    text-decoration: none;
    font-weight: bold;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #333; /* Dark footer */
    text-align: center;
}

footer p {
    margin: 0;
}

img.profile {
    width: 300px; /* Fixed width for the profile picture */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%/30%; /* Circle shape */
    border: 3px solid #333; /* Border color similar to dark background */
    margin-top: 20px; /* Space above the image */
    position: absolute; /* Positioned absolutely */
    right: 10%; /* To the right */
    top: 100px; /* Distance from top */
}
